.stats {
	height: 15%;
  p {
    text-align: center;
    font-size: 20px;
    margin-top: 5px;
  }
  h5 {
    text-align: center;
  }
}
.build {
  height: 350px;
  overflow-y: scroll;
}
