<html>
  <head>
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bin/materialize.min.js') }}"></script>
    {% block static %}
    {% endblock %}
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/materialize.css') }}"  media="screen,projection"/>
  </head>
  <nav class="white">
    <div class="nav-wrapper">
      <div class="container">
        <a href="#" class="brand-logo indigo-text">SC2</a>
        <ul id="nav-mobile" class="right side-nav">
        </ul>
      </div>
    </div>
  </nav>
  <body>
    <div id="main" class="container">
      <h1 class="header center indigo-text">Starcraft 2 Build Editor</h1>
      <div class="row">
        <div class="col m3">
          <h4 class="header indigo-text">Units</h4>
          <div class="card-panel teal">
            <h5 class="white-text">Army Units</h5>
            <select id="army-select">
              {% block army %}
              {% endblock %}
            </select>
            <a class="waves-effect waves-light btn indigo" id="add-army">Add</a>
            <h5 class="white-text">Structures</h5>
            <select id="structure-select">
              {% block structure %}
              {% endblock %}
            </select>
            <a class="waves-effect waves-light btn indigo" id="add-structure">Add</a>
          </div>
        </div>
        <div class="col m9">
          <h4 class="header indigo-text">Build</h4>
          <div class="card-panel white build">
            <div class="row">
              <div class="col s12">
                <div class="col s2">
                  <h5>Unit</h5>
                  <div class="divider"></div>
                  <div id="unit"></div>
                </div>
                <div class="col s3">
                  <h5>Minerals</h5>
                  <div class="divider"></div>
                  <div id="mineralCost"></div>
                </div>
                <div class="col s2">
                  <h5>Gas</h5>
                  <div class="divider"></div>
                  <div id="gasCost"></div>
                </div>
                <div class="col s3">
                  <h5>Time</h5>
                  <div class="divider"></div>
                  <div id="time"></div>
                </div>
                <div class="col s2">
                  <h5>Supply</h5>
                  <div class="divider"></div>
                  <div id="supply"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col m12">
          <h4 class="header indigo-text">Stats</h4>
          <div class="card-panel indigo stats">
            <div class="col s4">
              <h5 class="white-text">Time Elapsed:</h5>
              <div class="divider"></div>
              <p id="elapsed" class="white-text"></p>
            </div>
            <div class="col s4">
              <h5 class="white-text">Total Supply</h5>
              <div class="divider"></div>
              <p id="total-supply" class="white-text"></p>
            </div>
            <div class="col s4">
              <h5 class="white-text">Resource Collection Rate:</h5>
              <div class="divider"></div>
              <p id="rate" class="white-text"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>