{% extends "layout.html" %}
{% block static %}
<script type="text/javascript" src="{{ url_for('static', filename='js/js.js') }}"></script>
{% endblock %}

{% block race %}
<h3 class="header center indigo-text">Zerg</h3>
{% endblock %}

{% block army %}
              <option value="" disabled selected>Select</option>
              <option value="Worker">Worker</option>
              <option value="Zergling">Zergling</option>
              <option value="Queen">Queen</option>
              <option value="Roach">Roach</option>
{% endblock %}

{% block structure %}
              <option value="" disabled selected>Select</option>
              <option value="Overlord">Overlord</option>
              <option value="Extractor">Extractor</option>
              <option value="Hatchery">Hatchery</option>
              <option value="Spawning Pool">Spawning Pool</option>
{% endblock %}